{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
  * {
    box-sizing: border-box;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .columnfig {
    flex: 25%;
    min-width: 150px;
    padding: 10px;
  }
  .columntext {
    flex: 75%;
    padding: 10px;
  }
</style>

<div class="row">
  <div class="columnfig">
{% if post.imagepath %}
<img src="{{ post.imagepath }}" width="100%">
{% endif %}
</div>
<div class="columntext">
{{ post.authors }}
<br/>
<b>{{ post.title }}</b>
  <div class="archive__item-title" itemprop="headline">
    <b><a href="{{post.paperurl}}">{{ post.citation }}</a></b>
  </div>
    <!-- {% if post.blogpost %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink"><img src="/images/icons/icons8-note-64.png" width=20px> Blog post about this work</a>{% endif %} -->
</div>
</div>